
@{
    ViewBag.Title = "AddNetwork";
}

<h2>AddNetwork</h2>
<form method="POST" action="/Main/AddNetwork/">
    <label>Введіть нову мережу(3 октета)</label>
    <input type="text" name="Network"/></br>
    <label>Введіть місце дислокації</label>
    <input type="text" name="Name"/>
    <input type="submit" value="Отправить" />
</form>
